body{
    padding: 0px;
    margin: 0px;
}
*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
p{
    color: blueviolet;
}
.wrapper{
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 0px;
}
.menu-ul{
    list-style-type: none;
}
.menu-ul .menu-li{
    float: left;
    width: 100px;
  }
.menu-ul .menu-li a{
   text-decoration: none;
    border: #ccc solid 1px;
    padding: 0 5px;
    display: block;
    text-align: center;
    height: 50px;
    padding-top: 14px;
    background: black;
    color: #ffffff;
    transition: background 1s;
  }
.menu-ul .menu-li a:hover{
    color: #000000;
    background: green;

  }
